{% extends 'base/base.html' %}
{% block title %} Написать отзыв {% endblock %}
{% block body %}
<div class="container p-0 m-0">
    <div class="card mb-2 shadow-sm w-100">
        <div class="card-header d-flex justify-content-between">
            Обед <span class="badge text-bg-primary p-2">{{meal.cost}} ₽ </span>
        </div>
        <div class="card-body">
        {% for item in meal.items.all %}
            {{item.title}}<br>
        {% endfor %}
        </div>
    </div> 

    <form action="{% url 'review-create' meal.pk %}" method="post">
        <div class="d-grid gap-2 p-2">
        {% csrf_token %}
        {{form}}
        <button class="btn btn-primary col-12 mt-2">Создать</button>
        </div>
    </form>
</div>
{% endblock %}